.skills {
  min-height: 100vh;
}

.skills h3 {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 2em;
  text-align: center;
}

.skill-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skill-bars {
  margin-top: 2em;
  margin-bottom: 2em;
  padding: 25px 30px;
  width: 100%;
  background: #fff;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.skill-bars .bar {
  margin: 20px 0;
}
.skill-bars .bar:first-child {
  margin-top: 0px;
}
.skill-bars .bar .info {
  margin-bottom: 5px;
}
.skill-bars .bar .info span {
  font-weight: 500;
  font-size: 17px;
  opacity: 0;
  animation: showText 0.5s 1s linear forwards;
}
@keyframes showText {
  100% {
    opacity: 1;
  }
}
.skill-bars .bar .progress-line {
  height: 10px;
  width: 100%;
  background: #f0f0f0;
  position: relative;
  transform: scaleX(0);
  transform-origin: left;
  border-radius: 10px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05),
    0 1px rgba(255, 255, 255, 0.8);
  animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}
@keyframes animate {
  100% {
    transform: scaleX(1);
  }
}
.bar .progress-line span {
  height: 100%;
  position: absolute;
  border-radius: 10px;
  transform: scaleX(0);
  transform-origin: left;
  background: #a51117;
  animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
}

.bar .progress-line.n50 span {
  width: 50%;
}
.bar .progress-line.n60 span {
  width: 60%;
}
.bar .progress-line.n65 span {
  width: 65%;
}
.bar .progress-line.n70 span {
  width: 70%;
}
.bar .progress-line.n75 span {
  width: 75%;
}
.bar .progress-line.n80 span {
  width: 80%;
}
.bar .progress-line.n85 span {
  width: 85%;
}
.bar .progress-line.n90 span {
  width: 90%;
}
.bar .progress-line.n95 span {
  width: 95%;
}
.progress-line span::before {
  position: absolute;
  content: '';
  top: -10px;
  right: 0;
  height: 0;
  width: 0;
  border: 7px solid transparent;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-color: #000;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
.progress-line span::after {
  position: absolute;
  top: -28px;
  right: 0;
  font-weight: 500;
  background: #000;
  color: #fff;
  padding: 1px 8px;
  font-size: 12px;
  border-radius: 3px;
  opacity: 0;
  animation: showText2 0.5s 1.5s linear forwards;
}
@keyframes showText2 {
  100% {
    opacity: 1;
  }
}

.progress-line.n50 span::after {
  content: '50%';
}
.progress-line.n60 span::after {
  content: '60%';
}
.progress-line.n70 span::after {
  content: '70%';
}
.progress-line.n75 span::after {
  content: '75%';
}
.progress-line.n80 span::after {
  content: '80%';
}
.progress-line.n85 span::after {
  content: '85%';
}
.progress-line.n90 span::after {
  content: '90%';
}
.progress-line.n95 span::after {
  content: '95%';
}
.progress-line.n100 span::after {
  content: '90%';
}

@media screen and (max-width: 768px) {
  .skill-bars {
    padding: 15px; /* Adjust padding for smaller screens */
    box-shadow: none; /* Remove box shadow for mobile */
    border-radius: 0; /* Remove border radius for mobile */
    width: 90%;
  }
  .skill-bars .bar {
    margin: 15px 0; /* Adjust margin for smaller space between bars */
  }
  .skill-bars .bar .info span {
    font-size: 14px; /* Reduce font size for mobile */
  }
  .skill-bars .bar .progress-line {
    height: 6px; /* Reduce height for slimmer progress lines */
  }
  .skill-bars .bar .progress-line span::before,
  .skill-bars .bar .progress-line span::after {
    top: -8px; /* Adjust position of before and after elements */
    font-size: 10px; /* Adjust font size for before and after elements */
  }
}
